# Исследование надежности заемщиков.

### Шаг 1. Обзор данных

In [3]:
import pandas as pd
data = pd.read_csv(r'E:\courses\Data science\my\2\07 Project work\data.csv')

print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB
None

### Шаг 2.1 Заполнение пропусков

In [4]:
median_total_income = (data['total_income'].median())
data['total_income'] = data['total_income'].fillna(median_total_income)
print (data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB
None

Пропущенный доход только в тех строчках, где люди никогда не работли
9% данных утеренно выходит
медианное значение лучше отражает реальность нежели среднее, из за аномальных значений - среднее может быть гораздо выше чем реальные цифры

### Шаг 2.2 Проверка данных на аномалии и исправления.

In [5]:
data ['days_employed'] = data['days_employed'].abs()
days_employedd_median = data['days_employed'].median()
data ['days_employed'] = data['days_employed'].fillna(days_employedd_median)
print (data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB
None

### Шаг 2.3. Изменение типов данных.

In [6]:
data['total_income'] = data['total_income'].astype(int)
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  int64
 11  purpose           21525 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 2.0+ MB
None

### Шаг 2.4. Удаление дубликатов.

In [7]:
data = data.drop_duplicates().reset_index(drop=True)

data['education'] = data['education'].str.lower()

print (data.head(10))

   children  days_employed  dob_years education  education_id  \
0         1    8437.673028         42    высшее             0
1         1    4024.803754         36   среднее             1
2         0    5623.422610         33   среднее             1
3         3    4124.747207         32   среднее             1
4         0  340266.072047         53   среднее             1
5         0     926.185831         27    высшее             0
6         0    2879.202052         43    высшее             0
7         0     152.779569         50   среднее             1
8         2    6929.865299         35    высшее             0
9         0    2188.756445         41   среднее             1

      family_status  family_status_id gender income_type  debt  total_income  \
0   женат / замужем                 0      F   сотрудник     0        253875
1   женат / замужем                 0      F   сотрудник     0        112080
2   женат / замужем                 0      M   сотрудник     0        145885
3   женат / замужем                 0      M   сотрудник     0        267628
4  гражданский брак                 1      F   пенсионер     0        158616
5  гражданский брак                 1      M   компаньон     0        255763
6   женат / замужем                 0      F   компаньон     0        240525
7   женат / замужем                 0      M   сотрудник     0        135823
8  гражданский брак                 1      F   сотрудник     0         95856
9   женат / замужем                 0      M   сотрудник     0        144425

                      purpose
0               покупка жилья
1     приобретение автомобиля
2               покупка жилья
3  дополнительное образование
4             сыграть свадьбу
5               покупка жилья
6           операции с жильем
7                 образование
8       на проведение свадьбы
9     покупка жилья для семьи

### Шаг 2.5. Формирование дополнительных датафреймов словарей, декомпозиция исходного датафрейма.

In [8]:
education_dict = data[['education_id', 'education']].drop_duplicates().reset_index(drop=True)
family_status_dict = data[['family_status', 'family_status_id']].drop_duplicates().reset_index(drop=True)

data = data.drop(columns=['education', 'family_status'])

print (data)

       children  days_employed  dob_years  education_id  family_status_id  \
0             1    8437.673028         42             0                 0
1             1    4024.803754         36             1                 0
2             0    5623.422610         33             1                 0
3             3    4124.747207         32             1                 0
4             0  340266.072047         53             1                 1
...         ...            ...        ...           ...               ...
21466         1    4529.316663         43             1                 1
21467         0  343937.404131         67             1                 0
21468         1    2113.346888         38             1                 1
21469         3    3112.481705         38             1                 0
21470         2    1984.507589         40             1                 0

      gender income_type  debt  total_income                       purpose
0          F   сотрудник     0        253875                 покупка жилья
1          F   сотрудник     0        112080       приобретение автомобиля
2          M   сотрудник     0        145885                 покупка жилья
3          M   сотрудник     0        267628    дополнительное образование
4          F   пенсионер     0        158616               сыграть свадьбу
...      ...         ...   ...           ...                           ...
21466      F   компаньон     0        224791             операции с жильем
21467      F   пенсионер     0        155999          сделка с автомобилем
21468      M   сотрудник     1         89672                  недвижимость
21469      M   сотрудник     1        244093  на покупку своего автомобиля
21470      F   сотрудник     0         82047         на покупку автомобиля

[21471 rows x 10 columns]

### Шаг 2.6. Категоризация дохода.

In [9]:
def income_total(row):
    if 0 < row < 30000:
        return 'E'
    elif 30001 < row < 50000:
        return 'D'
    elif 50001 < row < 200000:
        return 'C'
    elif 200001 < row < 1000000:
        return 'B'
    elif row > 1000001:
        return 'A'
    else:
        return 'Неизвестная категория'
    

data['total_income_category'] = data['total_income'].apply(income_total)

print (data.head(10))

   children  days_employed  dob_years  education_id  family_status_id gender  \
0         1    8437.673028         42             0                 0      F
1         1    4024.803754         36             1                 0      F
2         0    5623.422610         33             1                 0      M
3         3    4124.747207         32             1                 0      M
4         0  340266.072047         53             1                 1      F
5         0     926.185831         27             0                 1      M
6         0    2879.202052         43             0                 0      F
7         0     152.779569         50             1                 0      M
8         2    6929.865299         35             0                 1      F
9         0    2188.756445         41             1                 0      M

  income_type  debt  total_income                     purpose  \
0   сотрудник     0        253875               покупка жилья
1   сотрудник     0        112080     приобретение автомобиля
2   сотрудник     0        145885               покупка жилья
3   сотрудник     0        267628  дополнительное образование
4   пенсионер     0        158616             сыграть свадьбу
5   компаньон     0        255763               покупка жилья
6   компаньон     0        240525           операции с жильем
7   сотрудник     0        135823                 образование
8   сотрудник     0         95856       на проведение свадьбы
9   сотрудник     0        144425     покупка жилья для семьи

  total_income_category
0                     B
1                     C
2                     C
3                     B
4                     C
5                     B
6                     B
7                     C
8                     C
9                     C

### Шаг 2.7. Категоризация целей кредита.

In [17]:
def purpose_kat (row):
    if 'жиль' in row or 'недвижи' in row:
        return 'операции с недвижимостью'
    elif 'авто' in row:
        return 'операции с автомобилем'
    elif 'образов' in row:
        return 'получение образования'
    elif 'свадьб' in row:
        return 'проведение свадьбы'
    
data['purpose_category'] = data['purpose'].apply(purpose_kat)

print(data['purpose_category'].value_counts())

purpose_category
операции с недвижимостью    10814
операции с автомобилем       4308
получение образования        4014
проведение свадьбы           2335
Name: count, dtype: int64

### Ответы на вопросы.

##### Вопрос 1:

##### Вывод 1:

## Общий вывод:

In [22]:
def make_pivot (df, index_column):
    pivot = df.pivot_table(index = index_column, values = 'debt', aggfunc =['count', 'sum', 'mean'])
    pivot.columns = ['Всего клиентов', 'Кол-во должников', 'Доля просрочки']
    return pivot.sort_values(by='Доля просрочки', ascending=False)

print(make_pivot(data, 'children'))

          Всего клиентов  Кол-во должников  Доля просрочки
children
 20                   76                 8        0.105263
 4                    41                 4        0.097561
 2                  2052               194        0.094542
 1                  4809               444        0.092327
 3                   330                27        0.081818
 0                 14107              1063        0.075353
-1                    47                 1        0.021277
 5                     9                 0        0.000000

In [23]:
print(make_pivot(data, 'family_status_id'))

                  Всего клиентов  Кол-во должников  Доля просрочки
family_status_id
4                           2810               274        0.097509
1                           4163               388        0.093202
0                          12344               931        0.075421
3                           1195                85        0.071130
2                            959                63        0.065693